# Environments
.env
.env.*
.venv
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Databases
*.sqlite
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/
.DS_Store
